table
{
    font-family: 'Metropolis-Medium', sans-serif;
    font-size: large;
    font-weight: bold;
    color:rgb(233, 233, 233);
    background-color: rgb(32, 32, 33);
    border-collapse: collapse;
    stroke:rgb(28, 28, 29);
    border-radius: 10px;
    padding: 10px; 
}
#inputs
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Metropolis-Medium', sans-serif;
    font-size: large;
    font-weight: bold;
}
#result
{
    text-align: center;
    color: rgb(233, 233, 233);
    text-shadow: 
    -1px -1px 0 rgb(28, 28, 29),
     1px -1px 0 rgb(28, 28, 29),
    -1px  1px 0 rgb(28, 28, 29),
     1px  1px 0 rgb(28, 28, 29);
}
body
{
    background-color: #19191a;
}