table
{
    font-family: 'Metropolis-Medium', sans-serif;
    font-size: large;
    font-weight: bold;
    color:rgb(233, 233, 233);
    background-color: rgb(28, 28, 29);
    border-collapse: collapse;
    stroke:rgb(28, 28, 29);
}
#server-list
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
tr td
{
    border: 2px solid;
    text-align: center;
    padding: 7px;
    padding-left: 30vh;
    padding-right: 30vh;
    text-shadow: 
    -1px -1px 0 rgb(28, 28, 29),
     1px -1px 0 rgb(28, 28, 29),
    -1px  1px 0 rgb(28, 28, 29),
     1px  1px 0 rgb(28, 28, 29);
}
body
{
    background-color: #19191a;
}