table
{
    font-family: 'Metropolis-Medium', sans-serif;
    font-size: large;
    font-weight: bold;
    color:rgb(233, 233, 233);
    background-color: rgb(32, 32, 33);
    border-collapse: separate;
    stroke:rgb(28, 28, 29);
    border-radius: 10px;
    padding: 10px;
    border-spacing: 10px;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Metropolis-Medium', sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: #19191a;
    min-height: 100vh;
}
td
{
    display: block;
}
.inputs
{
    font-family: 'Metropolis-Medium', sans-serif;
    font-size: large;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 15.6em;
    height: 2em;
    color: rgb(233, 233, 233);
    text-shadow: 
    -1px -1px 0 rgb(28, 28, 29),
     1px -1px 0 rgb(28, 28, 29),
    -1px  1px 0 rgb(28, 28, 29),
     1px  1px 0 rgb(28, 28, 29);
    outline: none;
}
.buttons
{
    font-family: 'Metropolis-Medium', sans-serif;
    font-size: large;
    font-weight: bold;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 16.1em;
    height: 2.5em;
    text-shadow: 
    -1px -1px 0 rgb(28, 28, 29),
     1px -1px 0 rgb(28, 28, 29),
    -1px  1px 0 rgb(28, 28, 29),
     1px  1px 0 rgb(28, 28, 29);
    cursor: pointer;
    color: rgb(233, 233, 233);
}
.info
{
    color: rgb(212, 63, 63);
}
.numbers
{
    color: rgb(87, 220, 50);
}
.time
{
    color: rgb(16, 204, 241);
}

#header, #subheader
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
#base, #base1, #train_ptrain
{
    background-color: rgb(16, 204, 241);
    border-color: rgb(16, 204, 241);
}
#stat, #base2, #grind_rate
{
    background-color: rgb(87, 220, 50);
    border-color: rgb(87, 220, 50);
}
#weaponatk, #grindrate
{
    background-color: rgb(212, 63, 63);
    border-color: rgb(212, 63, 63);
}
#ptrain
{
    background-color: rgb(100, 100, 100);
    border-color: rgb(100, 100, 100);
    user-select: none;
    cursor: pointer;
}
#mage
{
    background-color: rgb(100, 100, 100);
    border-color: rgb(100, 100, 100);
    user-select: none;
    cursor: pointer;
}
#calculate
{
    background-color: rgb(233, 224, 63);
    border-color: rgb(233, 224, 63);
}
#result
{
    text-align: center;
    color: rgb(220, 220, 220);
    text-shadow: 
    -1px -1px 0 rgb(28, 28, 29),
     1px -1px 0 rgb(28, 28, 29),
    -1px  1px 0 rgb(28, 28, 29),
     1px  1px 0 rgb(28, 28, 29);
}
#menu
{
    background-color: rgb(82, 82, 82);
    border-color: rgb(82, 82, 82);
}
#github-link
{
    color: gray;
    opacity: 20%;
    display: block;
    margin: 0 auto;
    width: 19em;
    font-family: 'Metropolis-Medium', sans-serif;
    font-size: small;
    text-align: center;
}